.tab1 {
  float: left;
  padding: 0 12px;
  width: fit-content;
}
.btnFixInfo:hover {
  background-color: #ddd;
}
.btnFixInfo:active {
  background-color: #ccc;
}
.btnFixInfo {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: 1px solid #ccc;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 14px;
  font-weight: 700;
}
/* .tabChangePass{
    border-top: unset !important;
    border-bottom: unset !important;
  } */
.tabcontent1 {
  float: left;
  width: 70%;
  border: 1px solid #ccc;
}
* {
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
}

.tblNoneEditting {
  background: transparent;
  border: unset;
  margin-bottom: 0px;
}
.ulInfo{
  border: unset;
  margin: unset;
}
.liInfo{
  border: unset;
  border-top: 1px solid #ccc;
  border-radius: unset !important;
}